.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 140px;
    gap: 34px;
}

.header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link {
    display: flex;
    width: 64px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 24px;
    height: 24px;
}

.list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.item {
    flex-basis: calc(50% - 8px);
    background: #F2F6FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.weatherImage {
    width: 51px;
    height: 51px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tempContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.temp {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--gray-100);

}