:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #0F0F10;
  background: linear-gradient(180deg, #BCE8FF 0%, #FFFFFF 41.26%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray-100:#1C242B;
  --gray-90:#35424F;
  --gray-80:#56626F;
  --gray-70:#8E9AA7;
  --gray-50:#CED6DD;
  --gray-30:#F2F6FF;
  --gray-0:#FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}